{
  "presets": ["latest", "stage-0", "react"],
  "plugins": [
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }],
    ["import-noop", {
      "extensions": ["svg", "css"]
    }]
  ]
}
